.container{
	width: 100%
}
#menu{
	width: 100%;
	height: 5em;
	border: 1px solid white;
	background-color: #2FB4C1;
	color: black;
}
h4{	
	display: inline-block;
	font-family: 'Merriweather', serif;
	margin-left: 8%;
	margin-top: 3%;
}
ul li{
	list-style: none;
	display: inline-block;
	float: right;
	padding: 3%;
}
.torta{
	display: none;
	float: right;
}
#portada{
	background-color: silver;
}
.img1{
	width: 100%;
	border: 2px solid black;
}
#nosotros{
	padding: 2.5%;
}
.textoIz{
	padding: 2%;
	font-family: 'Merriweather';
	font-size: 14px;
}
h1{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	margin-top: 1%;
}
h5{
	font-family: 'Merriweather', serif;
	margin: 3%;
}
.textoDe{
	font-family: 'Merriweather', serif;
}
#accion1{
	padding: 1%;
	margin-left:4%;
	border-radius: 5%;
	background-color: red;
	color: white;
	font-family: 'Merriweather', serif;
}
.img2{
	margin-top: 6%;
	margin-left: 12%;
	border: 2px solid grey;
}
#catalogo{
	margin: 0;
	background-color: silver;
}
#textoCat{
	background-color: silver;
}
.descripcion{
	width: 300px;
	color: black;
	text-align: center;
	margin-left: 12%;
	border: 2px solid grey;
}
footer{
	margin: 2%;
	border: 1px solid black;
	text-align: center;
	color: white;
	background-color: #2FB4C1;
	
}