@media (min-width: 200px) and (max-width: 825px){
	[class*="col-"]{
		width: 100%;
	}
}
@media (min-width: 200px) and (max-width: 825px){
	[class*="col-"]{
		width: 100%;
	}
	ul li{
		display: none;
	}
	.torta{
		display: inline-block;
	}

